# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# project files
\[cache\]/
\[docs\]/
\[sessions\]/
css/jquery-ui
css/app.cs
static/
images/src
inc/inc-secret AP.php
inc/inc-secret.php
css/app-ap.css
css/app.css
